<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Other Stylesheets and scripts -->
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link href="https://fonts.googleapis.com/css?family=Muli:600,700,800&display=swap" rel="stylesheet">
        <script type="application/javascript" href="/javascript/resource_manager.js"></script>
        <title>The Design Index</title>
    </head>

    <%
        function setCategory(category) {
            console.log(category);
        }

        let selected_category = "All";

        let category_colours = {
            All: "#11ee00",
            Photography: "#1cc7a5",
            Design: "#11ee00",
            Icons: "#aa00aa",
            Mockups: "#bbaabb"
        };

        let resources = [
            {
                title: "Unsplash",
                description: "The internet's source of freely usable images. Powered by creators everywhere.",
                category: "Photography",
                job_types: ["Designer, Web Designer"],
                url: "https://unsplash.com/",
                icon_link: "/images/resource_icons/1_Unsplash.svg"
            },
            {
                title: "Pexels",
                description: "Bladi Bladi boogidi boo",
                category: "Design",
                job_types: ["Designer, Web Designer"],
                url: "https://www.pexels.com/",
                icon_link: "/images/resource_icons/1_Pexels.svg"
            },
            {
                title: "Pixel Buddha",
                description: "Ding dong, here's my bing bong!",
                category: "Icons",
                job_types: ["Designer, Web Developer"],
                url: "https://pixelbuddha.net/",
                icon_link: "/images/resource_icons/2_Pixelbuddha.svg"
            },
            {
                title: "Media Lot",
                description: "The internet's source looting media.",
                category: "Mockups",
                job_types: ["Designer, Robber"],
                url: "https://unsplash.com/",
                icon_link: "/images/resource_icons/2_Medialoot.svg"
            },
            {
                title: "FlatIcon",
                description: "Get your free icons here boi!",
                category: "Icons",
                job_types: ["Designer, Web Designer"],
                url: "https://unsplash.com/",
                icon_link: "/images/resource_icons/4_Flaticon.svg"
            },
            {
                title: "FontSpace",
                description: "For those with daddy issues.",
                category: "Illustrations",
                job_types: ["Designer, Web Designer"],
                url: "https://unsplash.com/",
                icon_link: "/images/resource_icons/5_Fontspace.svg"
            }
        ];
    %>

    <body>
        <!-- Header -->
        <nav class="navbar">
            <!-- Top Header -->
            <div class="container-fluid header">
                <a class="navbar-brand mb-0 h1" href="#"><img src="/images/logo.svg" width="240" height="30"
                                                              class="d-inline-block align-top" alt=""></a>
                <a class="navbar-text feedback"
                   href="mailto:abc@example.com?subject = Feedback&body = The Design Index Feedback">Send feedback</a>
            </div>

            <!-- Bottom Header -->
            <div class="container-fluid header">
                <h6 class="navbar-text slogan">A hand-picked directory of the best design resources and tools</h6>
                <span class="navbar-text last-updated">Last updated on July 2019</span>
                <hr>
            </div>
        </nav>

        <!--Filters-->
        <nav class="navbar filterbar">
            <!-- Top Header -->
            <div class="container-fluid header">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% Object.keys(category_colours).forEach(function (category) { %>
                        <a class="dropdown-item" id="category-item" onclick="<% setCategory(category)%>"><%= category %></a>
                        <% }) %>
                    </div>
                </div> ,
            </div>
        </nav>

        <!-- Resource Wrapper -->
        <div class="box">
            <div class="resource-wrapper">
                <div class="row">
                    <% resources.forEach(function(resource) { %>
                        <!-- Resource Card -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                            <a href=<%= resource.url %> rel="noopener" target="_blank">
                                <div class="resource-card-wrapper">

                                    <div class="card-content">
                                        <div class="card-icon-container">
                                            <div class="card-icon" alt="<%= resource.title %> Logo">
                                                <img src="<%= resource.icon_link %>" alt="<%= resource.title %> Logo"/>
                                            </div>
                                        </div>
                                        <div class="card-text-container">
                                            <div class="card-text card-category"
                                                 style="color: <%= category_colours[resource.category] %>"><%= resource.category %></div>
                                            <div class="card-text card-title"><%= resource.title %></div>
                                            <div class="card-text card-description"><%= resource.description %></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% }); %>

                </div>
            </div>
        </div>


        <!-- Footer -->
        <div class="navbar">
            <div class="container-fluid header">
                <a class="navbar-brand mb-0 h1" href="#"><img src="/images/logo2.svg" width="30" height="30" class="d-inline-block align-top" alt="logo"></a>
                <p class="copyright">Made with love by <a class="navbar-text copyright" href="www.nikolaibain.com"><b> Nikolai Bain </b></a> & <a class="navbar-text copyright" href="www.nevinjojo.com"><b> Nevin Jojo</b></a>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
