<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145436140-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-145436140-1');
        </script>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Other Stylesheets and scripts -->
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link href="https://fonts.googleapis.com/css?family=Muli:600,700,800&display=swap" rel="stylesheet">
        <script type="application/javascript" href="/javascript/resource_manager.js"></script>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <title>The Design Index</title>
    </head>

    <%
        let selected_category = "All";

        let category_colours = {
            "All": "#000000",
            "Photos": "#1BC7A4",
            "Mockups": "#00A6E9",
            "Illustration": "#5A78FF",
            "Icons": "#8F55E2",
            "Fonts": "#F652C2",
            "Colour": "#FF3423",
            "Inspiration": "#FF8300",
            "UX & UI": "#FFBA01",
            "Other": "#6CDB36"
        };

        let resources = [
            {
                title: "Kaboompics",
                description: "Great place to get breathtaking free pictures for business or personal projects.",
                category: "Photos",
                job_types: ["Designer, Web Designer"],
                url: "http://kaboompics.com/",
                icon_link: "/images/resource_icons/1_Kaboompics.svg"
            },
            {
                title: "Pexels",
                description: "Free high quality photos you can use anywhere that require no attribution.",
                category: "Photos",
                job_types: ["Designer, Web Designer"],
                url: "http://pexels.com/",
                icon_link: "/images/resource_icons/1_Pexels.svg"
            },
            {
                title: "Stocksnap",
                description: "High quality and high resolution images free from all copyright restrictions.",
                category: "Photos",
                job_types: ["Designer, Web Designer"],
                url: "https://stocksnap.io/",
                icon_link: "/images/resource_icons/1_Stocksnap.svg"
            },
            {
                title: "Unsplash",
                description: "The internet's source of freely usable images. Powered by creators everywhere.",
                category: "Photos",
                job_types: ["Designer, Web Designer"],
                url: "https://unsplash.com/",
                icon_link: "/images/resource_icons/1_Unsplash.svg"
            },
            {
                title: "Graphic Burger",
                description: "Tasty design resources made with care that are free for commercial use.",
                category: "Mockups",
                job_types: ["Designer, Web Designer"],
                url: "https://graphicburger.com/",
                icon_link: "/images/resource_icons/2_Graphicburger.svg"
            },
            {
                title: "Pixeden",
                description: "Premium design mockups for packaging, stationery, technology and more.",
                category: "Mockups",
                job_types: ["Designer, Web Designer"],
                url: "https://www.pixeden.com/free-design-web-resources",
                icon_link: "/images/resource_icons/2_Pixaden.svg"
            },
            {
                title: "Pixel Buddha",
                description: "Free mock-ups and various other design resources such as UI kits & fonts.",
                category: "Mockups",
                job_types: ["Designer, Web Designer"],
                url: "https://pixelbuddha.net/freebies",
                icon_link: "/images/resource_icons/2_Pixelbuddha.svg"
            },
            {
                title: "Humaaans",
                description: "Free mix & match illustrations of minimal people with a customisable design library.",
                category: "Illustration",
                job_types: ["Designer, Web Designer"],
                url: "https://www.humaaans.com",
                icon_link: "/images/resource_icons/3_Humaaans.svg"
            },
            {
                title: "Ouch!",
                description: "Free beautiful illustration sets by various different designers. Tons of styles to choose.",
                category: "Illustration",
                job_types: ["Designer, Web Designer"],
                url: "https://icons8.com/ouch",
                icon_link: "/images/resource_icons/3_Ouch.svg"
            },
            {
                title: "The Noun Project",
                description: "Over 2 million curated icons in various styles and packs.",
                category: "Icons",
                job_types: ["Designer, Web Designer"],
                url: "https://thenounproject.com",
                icon_link: "/images/resource_icons/4_Thenounproject.svg"
            },
            {
                title: "Flat Icon",
                description: "Curated packs of icons that are great for keeping a consistent style throughout a project.",
                category: "Icons",
                job_types: ["Designer, Web Designer"],
                url: "https://www.flaticon.com",
                icon_link: "/images/resource_icons/4_Flaticon.svg"
            },
            {
                title: "Icons8",
                description: "Great minimal icon packs for UI projects that you can filter by device type.",
                category: "Icons",
                job_types: ["Designer, Web Designer"],
                url: "https://icons8.com/icons",
                icon_link: "/images/resource_icons/4_Icons8.svg"
            },
            {
                title: "Icon Finder",
                description: "Various different icon styles including coloured and isometric sets.",
                category: "Icons",
                job_types: ["Designer, Web Designer"],
                url: "https://www.iconfinder.com/icon-sets/featured/free",
                icon_link: "/images/resource_icons/4_Iconfinder.svg"
            },
            {
                title: "Google Fonts",
                description: "The best website for implementing fonts into online projects, or quickly downloading great simple fonts.",
                category: "Fonts",
                job_types: ["Designer, Web Designer"],
                url: "https://fonts.google.com",
                icon_link: "/images/resource_icons/5_Googlefonts.svg"
            },
            {
                title: "Calligraphr",
                description: "Easy way to transform your handwriting into its own font to share or use in projects.",
                category: "Fonts",
                job_types: ["Designer, Web Designer"],
                url: "https://www.calligraphr.com/en/",
                icon_link: "/images/resource_icons/5_Calligraphr.svg"
            },
            {
                title: "Font Squirrel",
                description: "Great collections of free fonts for commercial use with great filters.",
                category: "Fonts",
                job_types: ["Designer, Web Designer"],
                url: "https://www.fontsquirrel.com",
                icon_link: "/images/resource_icons/5_Fontsquirrel.svg"
            },
            {
                title: "Font Space",
                description: "Collection of more obscure and unusual fonts that are great for design projects.",
                category: "Fonts",
                job_types: ["Designer, Web Designer"],
                url: "https://www.fontspace.com",
                icon_link: "/images/resource_icons/5_Fontspace.svg"
            },
            {
                title: "Coolors",
                description: "Best colour palette generator website with public gallery to find or download great inspiration.",
                category: "Colour",
                job_types: ["Designer, Web Designer"],
                url: "https://coolors.co/ea526f-e76b74-d7af70-937d64-585b56",
                icon_link: "/images/resource_icons/6_Coolors.svg"
            },
            {
                title: "Colour Hunt",
                description: "Curated list of soft and beautiful colour palettes.",
                category: "Colour",
                job_types: ["Designer, Web Designer"],
                url: "https://colorhunt.co",
                icon_link: "/images/resource_icons/6_Colourhunt.svg"
            },
            {
                title: "Gradients.io",
                description: "Short list of colourful and bold gradient for modern design projects.",
                category: "Colour",
                job_types: ["Designer, Web Designer"],
                url: "http://gradients.io",
                icon_link: "/images/resource_icons/6_gradientsio.svg"
            },
            {
                title: "Khroma",
                description: "An AI colour tool that learns off you to recommend you personalised colour palettes.",
                category: "Colour",
                job_types: ["Designer, Web Designer"],
                url: "http://khroma.co/generator/",
                icon_link: "/images/resource_icons/6_Khroma.svg"
            },
            {
                title: "Awwwards",
                description: "Best curated list and collects of interesting and trending website inspiration.",
                category: "Inspiration",
                job_types: ["Designer, Web Designer"],
                url: "https://www.awwwards.com",
                icon_link: "/images/resource_icons/7_Awwwards.svg"
            },
            {
                title: "Behance",
                description: "Adobe's website for creatives to show off great in depth design projects.",
                category: "Inspiration",
                job_types: ["Designer, Web Designer"],
                url: "https://www.behance.net",
                icon_link: "/images/resource_icons/7_Behance.svg"
            },
            {
                title: "Dribbble",
                description: "Quick snippets of colourful and exciting UI and illustration inspiration.",
                category: "Inspiration",
                job_types: ["Designer, Web Designer"],
                url: "https://dribbble.com",
                icon_link: "/images/resource_icons/7_Dribbble.svg"
            },
            {
                title: "Designspiration",
                description: "Great inspiration website with easy and precise search features.",
                category: "Inspiration",
                job_types: ["Designer, Web Designer"],
                url: "https://www.designspiration.net",
                icon_link: "/images/resource_icons/7_Designspiration.svg"
            },
            {
                title: "Mobbin",
                description: "Great collection of the latest iOS UI design patterns and screens.",
                category: "UX & UI",
                job_types: ["Designer, Web Designer"],
                url: "https://mobbin.design",
                icon_link: "/images/resource_icons/8_Mobbin.svg"
            },
            {
                title: "Sketchsheets",
                description: "Ready to print sketch sheet templates for UX designers.",
                category: "UX & UI",
                job_types: ["Designer, Web Designer"],
                url: "https://sketchsheets.com",
                icon_link: "/images/resource_icons/8_Sketchsheets.svg"
            },
            {
                title: "UI Sources",
                description: "More creative and unusual UI modern design patterns and screens.",
                category: "UX & UI",
                job_types: ["Designer, Web Designer"],
                url: "https://www.uisources.com",
                icon_link: "/images/resource_icons/8_Uisources.svg"
            },
            {
                title: "Paper Sizes",
                description: "The best resource for international paper sizes, dimensions & formats.",
                category: "Other",
                job_types: ["Designer, Web Designer"],
                url: "https://papersizes.io",
                icon_link: "/images/resource_icons/9_Papersizes.svg"
            },
            {
                title: "Briefbox",
                description: "Practice design briefs & skill development for when you feel stuck.",
                category: "Other",
                job_types: ["Designer, Web Designer"],
                url: "https://briefbox.me",
                icon_link: "/images/resource_icons/9_Briefbox.svg"
            },
            {
                title: "SmallPDF",
                description: "All-in-one easy-to-use online PDF tools with tons of different quick features.",
                category: "Other",
                job_types: ["Designer, Web Designer"],
                url: "https://smallpdf.com",
                icon_link: "/images/resource_icons/9_Smallpdf.svg"
            }
        ];

        function setCategory(category) {
            //TODO: implement filter
            console.log(category);
        }
    %>

    <body>
        <!-- Header -->
        <nav class="navbar">
            <!-- Top Header -->
            <div class="container-fluid header brand-header">
                <a class="navbar-brand mb-0 h1" href="#"><img src="/images/logo.svg" width="240" height="30" class="d-inline-block align-top" alt=""></a>
                <a class="navbar-text feedback" href="mailto:abc@example.com?subject = Feedback&body = The Design Index Feedback">Send feedback</a>
            </div>

            <!-- Bottom Header -->
            <div class="container-fluid header slogan-header">
                <h6 class="navbar-text slogan">A hand-picked directory of the best design resources and tools</h6>
                <span class="navbar-text last-updated">Last updated on August 2019</span>
                <hr>
            </div>

            <!-- Filter Header -->
            <div class="container-fluid header filter-header">
                <!-- Category Dropdown -->
                <!-- <div class="dropdown">-->
                <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!-- Category-->
                <!-- </button>-->

                <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                <!-- <% Object.keys(category_colours).forEach(function (category) { %>-->
                <!-- <a class="dropdown-item" id="category-item" onclick="<% setCategory(category)%>"><%= category %></a>-->
                <!-- <% }) %>-->
                <!-- </div>-->
                <!-- </div>-->
                <span class="navbar-text filters">Filters coming soon</span>
            </div>
        </nav>


        <!-- Resource Wrapper -->
        <div class="box">
            <div class="resource-wrapper">
                <div class="row">

                    <% resources.forEach(function(resource) { %>
                        <!-- Resource Card -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 resource-card">
                            <a href=<%= resource.url %> rel="noopener" target="_blank">
                                <div class="resource-card-wrapper">
                                    <div class="card-content">
                                        <div class="card-icon-container">
                                            <div class="card-icon" alt="<%= resource.title %> Logo">
                                                <img src="<%= resource.icon_link %>" alt="<%= resource.title %> Logo"/>
                                            </div>
                                        </div>

                                        <div class="card-text-container">
                                            <div class="card-text card-category"
                                                 style="color: <%= category_colours[resource.category] %>"><%= resource.category %></div>
                                            <div class="card-text card-title"><%= resource.title %></div>
                                            <div class="card-text card-description"><%= resource.description %></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% }); %>

                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="navbar">
            <div class="container-fluid header">
                <a class="navbar-brand mb-0 h1" href="#"><img src="/images/logo2.svg" width="30" height="30" class="d-inline-block align-top" alt="logo"></a>
                <p class="copyright">Made with love by <a class="navbar-text copyright" href= "https://www.nikolaibain.com"><b> Nikolai Bain </b></a> & <a class="navbar-text copyright" href= "http://www.nevinjojo.com"><b> Nevin Jojo</b></a>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
